{
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "arrowFunctions": true,
        "classes": false,
        "destructuring": true,
        "modules": true,
        "spread": true,
        "templateStrings": true
    },
    "rules": {
        "semi": 2
    },
    "env": {        
        "node": true
    }
}